body {
    text-align: center;
}

/*CSS GRID*/
.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1.5fr;
    min-width: 500px;
    max-width: 750px;
    min-height: 500px;
    max-height: 600px;
} 
.input {
    grid-area: 3/2/4/3;
    /* background-color: rgb(229, 161, 230); */
}
.hangman {
    grid-area: 1/2/3/3;
}
.topleft {
    grid-area: 1/1/2/2;
    background-color: yellow;
}
.left {
    grid-area: 2/1/4/2;
    background-color: orange;
}
.topright {
    grid-area: 1/3/2/4;
    background-color: rgb(196, 27, 196);
}
.right {
    grid-area: 2/3/4/4;
    background-color: greenyellow;
}
.keyboard {
    grid-area: 4/1/5/4;
    background-color:rgba(22, 42, 110, 0.584)
}

/*UPDATE*/
.container {
    width: 100%;
    border: solid black 1px;
    height: auto;
}
#hang {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: red;
}
#words {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.letters {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border: solid black 1px;
    border-radius: 10px;
    outline: none;
    transition: .5s ease all;
}
#submit {
    width: 30%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
#submit:hover, #submit:focus {
    background-color: yellow;
}

/*KEYFRAME ANIMATIONS*/
@keyframes flip {
    10% {height: 40px;}
    20% {height: 30px;}
    30% {height: 20px;}
    40% {height: 10px;}
    50% {height: 0px;}
    60% {height: 10px;}
    70% {height: 20px;}
    80% {height: 30px;}
    90% {height: 40px;}
    100% {height: 50px;}
}
.animate {
    animation: flip 0.7s ease;
}

/*GRADIENTS*/
.correct {
    background-image: radial-gradient(rgb(5, 247, 45), rgb(43, 183, 12));
}
.almost {
    background-image: radial-gradient(rgb(252, 143, 34), rgb(200, 125, 14));    
}
.incorrect {
    background-image: radial-gradient(rgb(248, 41, 41), rgb(188, 15, 15));
}

/*KEYBOARD*/
.keyboard {
    margin: 0 auto;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.key {
    height: 40px;
    width: 43px;
    min-width: 20px;
    min-height: 20px;
    margin: 2px;
    background-color: lightgrey;
}
.key:hover {
    background-color: rgb(6, 224, 213);
}